# 範例一  python 是直譯式語言

In [1]:
a = 3

In [2]:
a

3

# 範例二  Numbers

# 2-1 計算一下!

In [7]:
(((6 + 22) / 4) - 3) ** 2

16.0

# 2-2 圓周率四捨五入至小數點第五位

In [8]:
import math
round(math.pi, 5)

3.14159

# 2-3 將 1 到 10 做加總

In [9]:
sum([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

55

# 2-4 -9527 的絕對值

In [10]:
abs(-9527)

9527

# 範例二練習題

8/2*(1+3)= ?? 在下方作答!

In [15]:
a = 8/2*(1+3)
print(a)

16.0

# 範例三  String

# 顯示陣列文單一文字

In [21]:
a = "Hello, World!"
print(a[1])

e

# 顯示陣列中文字範圍

b = "Hello, World!"
print(b[2:5])

# strip() > 去除字首字尾多餘空白

In [24]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# len() > 計算字詞或語句長度

In [25]:
a = "Hello, World!"
print(len(a))

13

# lower() > 將字詞或語句轉換成小寫

In [26]:
a = "Hello, World!"
print(a.lower())

hello, world!

# upper() > 將字詞或語句轉換成大寫

In [27]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# replace() > 取代文句中的字詞

In [1]:
a = "Hello, World!,Hello"
print(a.count('Hello'))

2

# Count() > 計算字詞數量

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

# split() > 以特定字詞或符號將其分割陣列

In [29]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# 範例三練習題

In [31]:
sent = '紅鯉魚家有頭小綠驢叫李屢屢，綠鯉魚家有頭小紅驢叫呂里里，紅鯉\
魚說他家的李屢屢要比綠鯉魚家的呂里里綠，綠鯉魚說他家的呂里里要比紅鯉魚家的\
李屢屢紅，不只是紅鯉魚比綠鯉魚的驢綠，還是綠鯉魚比紅鯉魚的驢紅'

# 第一題 將所有鯉魚換成鮭魚

In [32]:
sent = sent.replace('鯉魚', '鮭魚')
print(sent)

紅鮭魚家有頭小綠驢叫李屢屢，綠鮭魚家有頭小紅驢叫呂里里，紅鮭魚說他家的李屢屢要比綠鮭魚家的呂里里綠，綠鮭魚說他家的呂里里要比紅鮭魚家的李屢屢紅，不只是紅鮭魚比綠鮭魚的驢綠，還是綠鮭魚比紅鮭魚的驢紅

# 第二題 請問 紅鮭魚 和 綠鮭魚 誰比較多

In [34]:
# 請自行比較以下結果
print(sent.count('紅鮭魚'), sent.count('綠鮭魚'))

5 5

# 第三題 把逗點改成換行

In [35]:
sent = sent.replace('，', '\n')
print(sent)

紅鮭魚家有頭小綠驢叫李屢屢
綠鮭魚家有頭小紅驢叫呂里里
紅鮭魚說他家的李屢屢要比綠鮭魚家的呂里里綠
綠鮭魚說他家的呂里里要比紅鮭魚家的李屢屢紅
不只是紅鮭魚比綠鮭魚的驢綠
還是綠鮭魚比紅鮭魚的驢紅

# 範例四 lists

# copy() > 複製陣列內容

In [37]:
original_people = ['Sean', 'Joy']
people = original_people.copy()
print(people)

['Sean', 'Joy']

# append() > 新增內容至陣列

In [42]:
original_people = ['Sean', 'Joy']
original_people.append('Daniel')
print(original_people)

['Sean', 'Joy', 'Daniel']

# extend() > 一次新增多個內容至陣列

In [43]:
original_people = ['Sean', 'Joy']
original_people.extend(['Azai', 'Daniel'])
print(original_people)

['Sean', 'Joy', 'Azai', 'Daniel']

# insert() > 可加入內容至特定位置

In [44]:
original_people = ['Sean', 'Joy']
original_people.insert(0, 'Shukai')
print(original_people)

['Shukai', 'Sean', 'Joy']

# reverse() > 將陣列反轉

In [47]:
original_people = ['Sean', 'Joy']
original_people.reverse()
print(original_people)

['Joy', 'Sean']

# remove() > 刪除陣列內容

In [48]:
original_people = ['Sean', 'Joy']
original_people.remove('Joy')
print(original_people)

['Sean']

# index() > 找出該內容在該陣列位置

In [51]:
original_people = ['Sean', 'Joy']
print(original_people.index('Joy'))

1

# 範例四練習題

In [54]:
stars = ['周子瑜', '許瑋甯', '張鈞甯', '蔡依林', '郭雪芙', '林明禎', '張景嵐', '周曉涵', '陳庭妮', '林志玲']

# 第一題 移除 林志玲

In [55]:
stars.remove('林志玲')
print(stars)

['周子瑜', '許瑋甯', '張鈞甯', '蔡依林', '郭雪芙', '林明禎', '張景嵐', '周曉涵', '陳庭妮']

# 第二題 把 邵雨薇 加到第一名

In [56]:
stars.insert(0, '邵雨薇')
print(stars)

['邵雨薇', '周子瑜', '許瑋甯', '張鈞甯', '蔡依林', '郭雪芙', '林明禎', '張景嵐', '周曉涵', '陳庭妮']

# 第三題 找出 張景嵐 排名第幾

In [58]:
print(stars.index('張景嵐'))

7

# 第四題 把名單由最後一名開始排

In [59]:
stars.reverse()
print(stars)

['陳庭妮', '周曉涵', '張景嵐', '林明禎', '郭雪芙', '蔡依林', '張鈞甯', '許瑋甯', '周子瑜', '邵雨薇']

# 算術運算子 『+, -, *, /, %, //, **』
# 比較運算子 『<, <=, >, >=, !=, <>, ==』
# 邏輯運算子 『 and, or, not』

# While Loops & For Loops

# While Loops - The break Statement

In [60]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# While Loops - The countinue Statement

In [61]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# For Loops

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# For Loops - The break Statement

In [63]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# For Loops - The continue Statement

In [64]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# For Loops - The range() Function

In [67]:
for x in range(1,6):
  print(x)

1
2
3
4
5

# 練習題 用 For Loops 寫出九九乘法表

In [86]:
#普通格式輸出九九乘法表
for i in range(1,10):
    for j in range(1,10):
        print(i,'*', j, '=', i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 如何分行? 加入 end=' ' (意思是末尾不換行，加空格。)

In [101]:
#完整格式輸出九九乘法表
for i in range(1,10):
    for j in range(1,10):
        print("%d*%d=%2d" % (i,j,i*j),end=" ")
    print("")

1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6 1*7= 7 1*8= 8 1*9= 9
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81